.block1__item {
  position: relative;

  min-width: 160px;
  width: 100%;
  height: 198px;

  background-color: var(--color-block1-in);
}
.block1__item_4 {
  grid-column: 1/3;
}

.block1__item:after {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 53px;
  overflow: hidden;
}
.block1__item_1:after {
  content: "1";
}
.block1__item_2:after {
  content: "2";
}
.block1__item_3:after {
  content: "3";
}
.block1__item_4:after {
  content: "4";
}
.block1__item_5:after {
  content: "5";
}
