.popup {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 400px;

  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
}
