:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-background: #c0dbd9;

  --color-head-foot: #7faff6;
  --color-button: #a5c7f9;

  --color-block1: #b3f95a;
  --color-block1-in: #8ad191;
  --color-block2: #88b5bf;
  --color-block2-in: #0d89b0;
}
